/*
 * Author: Hasib Sarvari
 * URL: http:hackerpals.com
 *
 * Learn To Code Website
 * Version: 1.1.2
 *
 */

/* ----  Global Styles
------------------------- */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
    width: auto;
}

i {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

hr{
  width: 30%;
  color: #000;
}
